<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>defaults-ar_AR.js</string>
		</array>
		<array>
			<string>defaults-bg_BG.js</string>
		</array>
		<array>
			<string>defaults-cs_CZ.js</string>
		</array>
		<array>
			<string>defaults-da_DK.js</string>
		</array>
		<array>
			<string>defaults-de_DE.js</string>
		</array>
		<array>
			<string>defaults-en_US.js</string>
		</array>
		<array>
			<string>defaults-es_CL.js</string>
		</array>
		<array>
			<string>defaults-eu.js</string>
		</array>
		<array>
			<string>defaults-fa_IR.js</string>
		</array>
		<array>
			<string>defaults-fi_FI.js</string>
		</array>
		<array>
			<string>defaults-fr_FR.js</string>
		</array>
		<array>
			<string>defaults-hu_HU.js</string>
		</array>
		<array>
			<string>defaults-id_ID.js</string>
		</array>
		<array>
			<string>defaults-it_IT.js</string>
		</array>
		<array>
			<string>defaults-ko_KR.js</string>
		</array>
		<array>
			<string>defaults-nb_NO.js</string>
		</array>
		<array>
			<string>defaults-nl_NL.js</string>
		</array>
		<array>
			<string>defaults-pl_PL.js</string>
		</array>
		<array>
			<string>defaults-pt_BR.js</string>
		</array>
		<array>
			<string>defaults-pt_PT.js</string>
		</array>
		<array>
			<string>defaults-ro_RO.js</string>
		</array>
		<array>
			<string>defaults-ru_RU.js</string>
		</array>
		<array>
			<string>defaults-sk_SK.js</string>
		</array>
		<array>
			<string>defaults-sl_SI.js</string>
		</array>
		<array>
			<string>defaults-sv_SE.js</string>
		</array>
		<array>
			<string>defaults-tr_TR.js</string>
		</array>
		<array>
			<string>defaults-ua_UA.js</string>
		</array>
		<array>
			<string>defaults-zh_CN.js</string>
		</array>
		<array>
			<string>defaults-zh_TW.js</string>
		</array>
	</array>
</dict>
</plist>
