<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>console_runner.js</string>
		</array>
		<array>
			<string>phantom_jasmine_runner.js</string>
		</array>
		<array>
			<string>phantom_mocha_runner.js</string>
		</array>
		<array>
			<string>phantom_qunit_old_runner.js</string>
		</array>
		<array>
			<string>phantom_qunit_runner.js</string>
		</array>
	</array>
</dict>
</plist>
