<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>AccessibilitySpec.js</string>
		</array>
		<array>
			<string>ConflictingOptionsSpec.js</string>
		</array>
		<array>
			<string>DestroyMethodTests.js</string>
		</array>
		<array>
			<string>DraggingHandlesSpec.js</string>
		</array>
		<array>
			<string>ElementDataAttributesSpec.js</string>
		</array>
		<array>
			<string>EventsSpec.js</string>
		</array>
		<array>
			<string>FocusOptionSpec.js</string>
		</array>
		<array>
			<string>KeyboardSupportSpec.js</string>
		</array>
		<array>
			<string>LogarithmicScaleSpec.js</string>
		</array>
		<array>
			<string>LowAndHighTrackSpec.js</string>
		</array>
		<array>
			<string>NamespaceSpec.js</string>
		</array>
		<array>
			<string>offMethodSpec.js</string>
		</array>
		<array>
			<string>OrientationSpec.js</string>
		</array>
		<array>
			<string>PublicMethodsSpec.js</string>
		</array>
		<array>
			<string>RefreshMethodSpec.js</string>
		</array>
		<array>
			<string>ResizeSpec.js</string>
		</array>
		<array>
			<string>TickClickingBehaviorSpec.js</string>
		</array>
		<array>
			<string>TickLabelSpec.js</string>
		</array>
		<array>
			<string>TickMarksSpec.js</string>
		</array>
		<array>
			<string>TooltipPositionOptionSpec.js</string>
		</array>
		<array>
			<string>TooltipSplitOptionSpec.js</string>
		</array>
	</array>
</dict>
</plist>
