<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>aboutApps.js</string>
		</array>
		<array>
			<string>aboutCollections.js</string>
		</array>
		<array>
			<string>aboutEvents.js</string>
		</array>
		<array>
			<string>aboutModels.js</string>
		</array>
		<array>
			<string>aboutViews.js</string>
		</array>
	</array>
</dict>
</plist>
